---
title: Co-op Platform
---

<nav class="skip-nav">
  <ul>
    <li><a href="#main" title="Skip to main content">Skip to content</a></li>
  </ul>
</nav>

<div class="app-content">
  <div class="content-wrapper">

    <header class="wrap header-main header-design-manual">
      <a class="coop-logo" aria-label="Homepage" href="index.html">
        <img src="assets/images/logos/coop-logo.svg" alt="Co-op">
      </a>
      <span>Sandra</span>
    </header>

    <main id="main" class="main">
      <article class="wrap">
          <div class="row margin-bh">
            <div class="column large-7">
              <section class="widget">
                <div class="home-card">
                  <figure style="background-image: url('<%= image_path 'onestep-walkers.jpg' %>')">

                  </figure>
                  <p>There's a 'Onestep Walkers' Meetup in your area. <a href="#">Join this Meetup and take your dog along</a>.</p>
                </div>
                <a href="#">Hide this</a>
              </section>
              <section class="widget">
                <div class="convo-pull-out">
                  <p>Do you care for an elderly person? We know it can be hard. <a href="#">Find out more about our care services</a>.</p>
                </div>
                <a href="#">Hide this</a>
              </section>
              <section class="widget">
                <div class="card-intro">
                  <h1>October</h1>
                  <p>You often buy fish. Why not try another thing?</p>
                </div>
                <div class="home-card">
                  <p>Co-op Littleover has an offer on Co-op Irresistible Premier Cru Chablis that goes great with fish. We’re open until 9pm, <a href="https://finder.coop.co.uk/food/store/DE23-6FQ/471-473-burton-road">pick a bottle up on your way home</a>.</p>
                  <figure style="background-image: url('<%= image_path 'cru-chablis.png' %>')"></figure>
                </div>
                <a href="#">Hide this</a>
              </section>
              <section class="widget">
                <div class="home-card">
                  <figure style="background-image: url('<%= image_path 'causes.jpg' %>')"></figure>
                  <p>By shopping at Co-op, you’ve raised £3.47 that we’ll give to a local cause. That may not sound like much, but last year Co-op customers like you raised £180 million. <a href="https://membership.coop.co.uk/sign-in">Pick your charity to receive it</a>.</p>
                </div>
                <a href="#">Hide this</a>
              </section>
              <section class="widget">
                <div class="convo-pull-out">
                  <p>Have you made a will? Our solicitors can help you take control over what happens after you die. <a href="https://wills.coop.co.uk/">Get started today</a>.</p>
                </div>
                <a href="#">Hide this</a>
              </section>
              <section class="widget">
                <div class="home-card">
                  <p>Washing machine more than eight years old? <a href="https://electrical.coop.co.uk/laundry/washing-machines/">It might be time for a new one</a>.</p>
                  <figure style="background-image: url('<%= image_path 'washing-machine.jpg' %>')"></figure>
                </div>
                <a href="#">Hide this</a>
              </section>
              <section class="widget">
                <div class="home-card">
                  <figure style="background-image: url('<%= image_path 'electric-fire.jpg' %>')"></figure>
                  <p>Sarah is offering to give away an electric fire in Derby. <a href="https://www.streetbank.com/things/115510?locale=en">Do you need one?</a></p>
                </div>
                <a href="#">Hide this</a>
              </section>
            </div>
          </div>
      </article>
    </main>

  </div>
</div>

<script src="https://code.jquery.com/jquery-1.12.1.min.js" integrity="sha256-I1nTg78tSrZev3kjvfdM5A5Ak/blglGzlaZANLPDl3I=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="assets/javascript/vendor/jquery-1.12.1.min.js"><\/script>')</script>
<script src="assets/javascript/main.js"></script>
